.roadmap {
width: 255px;
display: flex;
background-color: #fff;
margin-top: 24px;
border-radius: 10px;
padding: 19px 24px 24px 24px;
align-items: flex-start;
flex-direction: column;
border: none;
}

.roadmap__wrapper {
margin-bottom: 24px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.roadmap__title {
margin: 0;
font-weight: 700;
font-size: 18px;
line-height: 26px;
letter-spacing: -0.25px;
color: #3A4374;
}

.roadmap__link {
color: #8397F8;
border-bottom: 1px solid #8397F8;
font-size: 13px;
font-weight: 600;
cursor: pointer;

&:hover {
opacity: 0.7;
transition: 0.5s all ease;
}
}