.products__list {
width: inherit;
padding: 0;
margin: 0;
list-style: none;
margin-left: 30px;
margin-top: 24px;
}

.products__item {
display: flex;
width: 100%;
margin-bottom: 20px;
padding: 28px 32px;
background-color: #fff;
border-radius: 10px;
position: relative;
cursor: pointer;
justify-content: space-between;

&:last-child {
margin-bottom: 0px;
}

}
.products__item-wrapper {
flex-grow: 1;
margin-left: 30px;
}
.products__item-title {
margin: 0;
margin-bottom: 4px;
font-size: 18px;
line-height: 26px;
color: #3A4374;
font-weight: 700

}

.products__item-title:hover {
color: #4661E6;
transition: 0.4s all ease;
}

.products__item-desc {
margin: 0;
margin-bottom: 12px;
font-size: 16px;
line-height: 23px;
color: #647196;
}
.products__item-btn {
padding: 0;
padding: 26px 11px 8px 11px;
height: 53px;
background: #F2F4FE;
border: none;
border-radius: 10px;
font-size: 13px;
color: #3A4374;
font-weight: 700;
cursor: pointer;
position: relative;

&:hover {
background-color: #CFD7FF;
transition: 0.5s all ease;
}

&:active {
background-color: #4661E6;
color: #fff;
}

&::before {
display: block;
content: "";
width: 12px;
height: 10px;
background-image: url("../../assets/images/products-arrow.svg");
background-repeat: no-repeat;
position: absolute;
top: 14px;
left: 50%;
transform: translateX(-50%);
}

}

.products__item-text {
margin-top: 20px;
position: relative;
&::after {
display: block;
width: 18px;
height: 16px;
content: "";
position: absolute;
background-image: url("../../assets/images/comments.svg");
background-repeat: no-repeat;
top: calc(50% - 27px);
transform: translateY(-50%);
left: -30px;
}
}

.products__item-text {
color: #3A4374;
}