.filter-title {
width: 100%;
margin-bottom: 24px;
padding: 62px 77px 24px 24px;
background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
border-radius: 10px;
}
.filter-title__desc {
margin: 0;
color: #fff;
font-size: 20px;
}
.filter-title__text {
margin: 0;
color: #fff;
font-size: 15px;
}