.features-filter {
    padding: 24px 50px 24px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.feature-filter__title {
    font-weight: 600;
}
