.feature-radio {
    cursor: pointer;
}
.feature-radio__input:checked ~ .feature-radio__span {
    background-color: #4661E6;
    color: #fff;
}
.feature-radio {
    flex-grow: 1;
}
.feature-radio__input:hover ~ .feature-radio__span {
transition: 0.4s all ease;
background-color: #CFD7FF;
}
