.categories-span {
    padding: 0;
    padding: 6px 16px;
    margin: 0;
    display: inherit;
    width: fit-content;
    background: #F2F4FF;
    border-radius: 10px;  
    text-align: center;  
    font-size: 13px;
    color: #4661E6;
    margin-bottom: 8px;
}