.header {
    width: 825px;
    padding: 14px 16px 14px 24px;
    background-color: rgba(55, 63, 104, 1);
    margin-left: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.header__btn {
padding: 12px 24px;
margin-left: auto;
background: #AD1FEA;
border-radius: 10px;
color: #fff;
}
.header__link {
margin-right: 16px;
}
.header__span {
margin: 0;
color: #Fff;
font-size: 18px;
font-weight: bold;
}

.header__wrapper {
    position: relative;
}
.header__sort-btn {
border: none;
background-color: transparent;
color: rgba(242, 244, 254, 0.75);
font-size: 14px;
line-height: 20px;
}
.header__sort-btn::before {
display: block;
content: "";
width: 10px;
height: 6px;
position: absolute;
right: -10px;
top: 50%;
transform: translateY(-50%);
background: url("../../assets/images/arrow.svg") no-repeat;
}

.header__sort-btn--opened::before {
transform: rotate(180deg);
}